@model Eco.Models.SummationAirContaminantsGroup
@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Details"]</h2>

<div>
    <h4>@SharedLocalizer["SummationAirContaminantsGroup"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubstanceHazardClass)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubstanceHazardClass.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SummationGroupCodeERA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SummationGroupCodeERA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number25012012)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number25012012)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CoefficientOfPotentiation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CoefficientOfPotentiation)
        </dd>
        @if (Model.PresenceOfTheMaximumPermissibleConcentration)
        {
            <dt>
                @Html.DisplayNameFor(model => model.LimitingIndicator)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LimitingIndicator.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaximumPermissibleConcentrationOneTimemaximum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaximumPermissibleConcentrationOneTimemaximum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MaximumPermissibleConcentrationDailyAverage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.MaximumPermissibleConcentrationDailyAverage)
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.ApproximateSafeExposureLevel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApproximateSafeExposureLevel)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.AirContaminants)
        </dt>
        <dd>
            <pre>@string.Join("\r\n", Model.AirContaminantsList.Select(a => a.Name).ToArray())</pre>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@SharedLocalizer["Edit"]</a> |
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>
