@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder;
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = SharedLocalizer["Maps"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sectiontar">
    <h2>@SharedLocalizer["Maps"]</h2>
</div>
@{
    if (new RequestLocalizationOptions().DefaultRequestCulture.Culture.Name == "kk")
    {
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "1" })">Алматы қаласының атмосфералық ауасының қазіргі жағдайына ықпал ету және бағалаудың негізгі факторлары</a></h3>
            <p><img src="images/map1.png" alt="map" />Атмосфералық ауаның сапасына мониторинг жүргізу нәтижелері Қазгидромет РМК-нің мониторингілік посттарынан және инструменттермен (орташа жылдық, орташа айлық және орташа концентрациялар, SI, NP) толық ауқымды аспаптық өлшеулерден;</p>
            <p>«ERA» ДК көмегімен атмосфераға ластайтын заттардың шығарындыларын стационарлы, жылжымалы және жалпы көздермен бөлудің жиынтық есептері және ауа-райының ауаның айналымын ескере отырып;</p>
            <p>Атмосфералық ауаға шығарылатын стационарлық көздер (қауіпті класс, өндіріс түрі, жалпы шығарындылар лимиті) бар кәсіпорындар Алматы.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "2" })">Су ресурстарының ағымдағы жағдайы мен сапасын бағалау</a></h3>
            <p><img src="/images/map2.png" alt="map" />Жер үсті су көздерінің су сапасы (гидрографиялық желі, «Қазгидромет» АҚ-ның суды ластауы туралы деректер (жекелеген компоненттердің орта және ай сайынғы ластану индексі).</p> <p> Данные мониторинга  Департамента общественного здоровья, результаты дополнительных замеров);</p>
            <p>Су қорғау аймақтары мен жолақтары.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "3" })">Өсімдік жамылғысының ағымдағы жай-күйін бағалау</a></h3>
            <p><img src="images/map3.png" alt="map" />Алматы қаласының табиғи және экологиялық негіздері схемасы (қазіргі жағдай). Өсімдіктің қазіргі жағдайы (жасыл аймақтар, саябақтар, квадраттар, ерекше қорғалатын табиғи аумақтар), жалпы пайдаланудағы жасыл аймақтар, арнайы мақсаттағы және шектеулі пайдалану - барлық әкімшілік аудандарда, аурулардың үлесі. Жеке жасыл нысандар туралы анықтамалық ақпарат.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "4" })">Топырақ жамылғысының ағымдағы жай-күйін және ластануын бағалау </a></h3>
            <p><img src="images/map4.png" alt="map" />Топырақтың жамылғысын тыңдағаннан кейін, кәдімгідей таза су бар.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "5" })">Алматы қаласында қатты тұрмыстық қалдықтарды жинау, пайдалану және сақтау жөніндегі қолданыстағы ережелерді талдау </a></h3>
            <p><img src="images/map5.png" alt="map" />Алматы қаласының кәсіпорындары және Алматы облысының көршілес облыстары, жетекші жинау, қайта өңделетін материалдарды өңдеу.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "6" })">Алматы қаласының аумағын кешенді экологиялық аймақтарға бөлу</a></h3>
            <p><img src="images/map6.png" alt="map" />Алматы қаласының аумағын кешенді экологиялық аймақтарға бөлу</p>
        </div>
    }
    else
    {
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "1" })">Основные факторы воздействия и оценка современного состояния атмосферного воздуха города Алматы</a></h3>
            <p><img src="images/map1.png" alt="map" />Результаты мониторинга качества атмосферного воздуха по постам наблюдения РГП "Казгидромет" и натурным инструментальным замерам  (по ингредиентам (среднегодовые, среднемесячные и м.р. концентрации, СИ, НП));</p>
            <p>Сводные расчеты рассеивания по стационарным, передвижным и суммарным источникам выбросов загрязняющих веществ в атмосферу с использованием ПК "ЭРА" и с учетом горно-долинной циркуляции воздуха;</p>
            <p>Предприятия г. Алматы, имеющие стационарные источники выбросов в атмосферный воздух (класс опасности, тип производства, лимит на валовый выброс).</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "2" })">Оценка современного состояния и качества водных ресурсов</a></h3>
            <p><img src="~/images/map2.png" alt="map" />Качество воды поверхностных водоисточников (гидрографическая сеть, данные о загрязнении воды по постам Казгидромет (среднегодовые и помесячные показатели загрязнения отдельными компонентами).</p> <p> Данные мониторинга  Департамента общественного здоровья, результаты дополнительных замеров);</p>
            <p>Водоохранные зоны и полосы.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "3" })">Оценка современного состояния растительного покрова</a></h3>
            <p><img src="images/map3.png" alt="map" />Схема природно-экологического каркаса города Алматы (существующее положение). Карта текущего состояния растительности (зеленые зоны, парки, скверы города, особо охраняемые территории), площади зеленых насаждений общего пользования, специального назначения и ограниченного использования – всего и по административным районам, доля больных деревьев. Справочная информация по отдельным зеленым объектам.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "4" })">Оценка современного состояния и загрязнения почвенного покрова </a></h3>
            <p><img src="images/map4.png" alt="map" />Данные о загрязнении почвы города Алматы (по точкам опробования, по ингредиентам (мг/кг и доля к ПДК (фону) и Zc).</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "5" })">Анализ существующего положения по сбору, утилизации и хранению твердых бытовых отходов (ТБО) на территории города Алматы </a></h3>
            <p><img src="images/map5.png" alt="map" />Предприятия города Алматы и прилегающих районов Алматинской области, ведущие сбор, переработку вторсырья.</p>
        </div>
        <div class="leftmap_content">
            <h3><a href="@Url.Action("View", "Maps", new { Map = "6" })">Комплексное экологическое районирование территории города Алматы </a></h3>
            <p><img src="images/map6.png" alt="map" />Комплексное экологическое районирование территории города Алматы</p>
        </div>
    }
}