@model Eco.Models.Target
@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Edit"]</h2>

<h4>@SharedLocalizer["Target"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TypeOfTargetId" class="control-label"></label>
                <select asp-for="TypeOfTargetId" class="form-control" asp-items="ViewBag.TypeOfTargetId"></select>
                <span asp-validation-for="TypeOfTargetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameKK" class="control-label"></label>
                <input asp-for="NameKK" class="form-control" />
                <span asp-validation-for="NameKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameRU" class="control-label"></label>
                <input asp-for="NameRU" class="form-control" />
                <span asp-validation-for="NameRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfAchievement" class="control-label"></label>
                <div class="form-control">
                    @Html.RadioButtonFor(model => model.TypeOfAchievement, true) @SharedLocalizer["Direct"]
                    @Html.RadioButtonFor(model => model.TypeOfAchievement, false) @SharedLocalizer["Reverse"]
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MeasurementUnitId" class="control-label"></label>
                <select asp-for="MeasurementUnitId" class="form-control" asp-items="ViewBag.MeasurementUnitId"></select>
                <span asp-validation-for="MeasurementUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
