@model Eco.Models.LogIndexPageViewModel
@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using System.Net
@{
    ViewData["Title"] = SharedLocalizer["Logs"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Logs"]</h2>

@using (Html.BeginForm("Index", "Logs", new { SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter }, FormMethod.Get))
{
    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = ViewBag.SortOrder })
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new { SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new { Page = page, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
            }
        </ul>
    }
    <table class="agendaView">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(l => l.Items.FirstOrDefault().DateTime).ToString(), "Index",
                        new { SortOrder = ViewBag.DateTimeSort, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(l => l.Items.FirstOrDefault().Email).ToString(), "Index",
                        new { SortOrder = ViewBag.EmailSort, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                    <br />
                    @Html.Editor("Email", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(l => l.Items.FirstOrDefault().Class).ToString(), "Index",
                        new { SortOrder = ViewBag.ClassSort, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                    <br />
                    @Html.Editor("Class", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(l => l.Items.FirstOrDefault().Operation).ToString(), "Index",
                        new { SortOrder = ViewBag.OperationSort, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                    <br />
                    @Html.Editor("Operation", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    <br />
                    <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-default">
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operation)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a>
                </td>
            </tr>
        }
    </table>
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new { SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new { Page = page, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrder, Email = ViewBag.EmailFilter, Class = ViewBag.ClassFilter, Operation = ViewBag.OperationFilter })
                </li>
            }
        </ul>
    }
}