@model Eco.Models.HazardClass
@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Delete"]</h2>

<h3>@SharedLocalizer["Delete"]?</h3>
<div>
    <h4>@SharedLocalizer["HazardClass"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameKK)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameKK)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameRU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameRU)
        </dd>
        <dt>
            @SharedLocalizer["RelatedItems"]
        </dt>
        <dd>
            @if (((IQueryable<Company>)ViewBag.Companies).Count() > 0)
            {
                <table class="table red">
                    <tr>
                        <th>
                            @SharedLocalizer["Companies"]
                        </th>
                    </tr>
                    @foreach (var item in (IQueryable<Company>)ViewBag.Companies)
                {
                        <tr>
                            <td>
                                @item.AbbreviatedName
                            </td>
                            <td>
                                <a asp-controller="Companies" asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                                <a asp-controller="Companies" asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                                <a asp-controller="Companies" asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            @if (((IQueryable<IndustrialSite>)ViewBag.IndustrialSites).Count() > 0)
            {
                <table class="table red">
                    <tr>
                        <th>
                            @SharedLocalizer["IndustrialSites"]
                        </th>
                    </tr>
                    @foreach (var item in (IQueryable<IndustrialSite>)ViewBag.IndustrialSites)
                {
                        <tr>
                            <td>
                                @item.AbbreviatedName
                            </td>
                            <td>
                                <a asp-controller="IndustrialSites" asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                                <a asp-controller="IndustrialSites" asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                                <a asp-controller="IndustrialSites" asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            @if (((IQueryable<SubsidiaryCompany>)ViewBag.SubsidiaryCompanies).Count() > 0)
            {
                <table class="table red">
                    <tr>
                        <th>
                            @SharedLocalizer["SubsidiaryCompanies"]
                        </th>
                    </tr>
                    @foreach (var item in (IQueryable<SubsidiaryCompany>)ViewBag.SubsidiaryCompanies)
                {
                        <tr>
                            <td>
                                @item.AbbreviatedName
                            </td>
                            <td>
                                <a asp-controller="SubsidiaryCompanies" asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                                <a asp-controller="SubsidiaryCompanies" asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                                <a asp-controller="SubsidiaryCompanies" asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if ((((IQueryable<Company>)ViewBag.Companies).Count() == 0)
               && (((IQueryable<IndustrialSite>)ViewBag.IndustrialSites).Count() == 0)
               && (((IQueryable<SubsidiaryCompany>)ViewBag.SubsidiaryCompanies).Count() == 0))
        {
            <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-default" />
        }
        else
        {
            <input type="submit" value="@SharedLocalizer["Delete"]" disabled="disabled" class="btn btn-default" />
        }
        | <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
    </form>
</div>
