@model Eco.Models.TreesByFacilityManagementMeasuresList
@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@SharedLocalizer["Delete"]</h2>
<h3>@SharedLocalizer["Delete"]?</h3>
<div>
    <h4>@SharedLocalizer["TreesByFacilityManagementMeasuresList"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GreemPlantsPassport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GreemPlantsPassport.GreenObject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlantationsType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlantationsType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessEventsPlantationsType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessEventsPlantationsType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SanitaryPruning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SanitaryPruning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrownFormation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrownFormation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SanitaryFelling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SanitaryFelling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaintenanceWork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaintenanceWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-default" /> |
        <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
    </form>
</div>
