@model Eco.Models.AnnualMaximumPermissibleEmissionsVolume
@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Create"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@SharedLocalizer["Create"]</h2>
<h4>@SharedLocalizer["AnnualMaximumPermissibleEmissionsVolume"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select id="CompanyId" asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId" onchange="ChangeCompany()"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubsidiaryCompanyId" class="control-label"></label>
                <select id="SubsidiaryCompanyId" asp-for="SubsidiaryCompanyId" class="form-control" asp-items="ViewBag.SubsidiaryCompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="IssuingPermitsStateAuthorityId" class="control-label"></label>
                <select asp-for="IssuingPermitsStateAuthorityId" class="form-control" asp-items="ViewBag.IssuingPermitsStateAuthorityId"></select>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPermit" class="control-label"></label>
                <input asp-for="YearOfPermit" class="form-control" />
                <span asp-validation-for="YearOfPermit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfIssueOfPermit" class="control-label"></label>
                <br />
                <span asp-validation-for="DateOfIssueOfPermit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label"></label>
                <input asp-for="Month" class="form-control" />
                <span asp-validation-for="Month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Day" class="control-label"></label>
                <input asp-for="Day" class="form-control" />
                <span asp-validation-for="Day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmissionsTonsPerYear" class="control-label"></label>
                <input asp-for="EmissionsTonsPerYear" class="form-control" />
                <span asp-validation-for="EmissionsTonsPerYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Create"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>

@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

<script>
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }

    function ChangeCompany() {
        $.ajax({
            url: '@Url.Action("GetSubsidiaryCompaniesByCompanyId", "IndustrialSites")',
            data: { CompanyId: $('#CompanyId').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '<option value=""></option>';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['id'] + '"' +
                        (data[i]['id'] == $('#SubsidiaryCompanyId').val() ? 'selected' : '') +
                        '>' + data[i]['abbreviatedName'] +
                        '</option>';
                });
                $("#SubsidiaryCompanyId").empty();
                $('#SubsidiaryCompanyId').append(optionhtml);
            },
            error: function () {
            }
        });
    };
</script>