@model Eco.Models.AirPollutionIndicatorIndexPageViewModel
@using Eco.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using System.Net
@{
    ViewData["Title"] = SharedLocalizer["AirPollutionIndicators"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["AirPollutionIndicators"]</h2>

<p>
    <a asp-action="Create"> <img src="~/images/add16.png" />@SharedLocalizer["Create"]</a>
</p>

@using (Html.BeginForm("Index", "AirPollutionIndicators", new { SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter }, FormMethod.Get))
{
    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = ViewBag.SortOrder })
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new { SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new { Page = page, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
            }
        </ul>
    }
    <table class="agendaView">
        <thead>
            <tr>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(a => a.Items.FirstOrDefault().TypeOfAirPollutionIndicatorId).ToString(), "Index",
                        new { SortOrder = ViewBag.TypeOfAirPollutionIndicatorIdSort, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                    <br />
                    @Html.DropDownList("TypeOfAirPollutionIndicatorId", (IEnumerable<SelectListItem>)ViewBag.TypeOfAirPollutionIndicatorId, "", htmlAttributes: new { @class = "form-control" })
                </th>
                <th>
                    @Html.ActionLink(Html.DisplayNameFor(a => a.Items.FirstOrDefault().Name).ToString(), "Index",
                        new { SortOrder = ViewBag.NameSort, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                    <br />
                    @Html.Editor("Name", null, new { htmlAttributes = new { @class = "form-control" }, value = "" })
                </th>
                <th>
                    <br />
                    <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-default">
                </th>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfAirPollutionIndicator.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </table>
    @if (Model.Pager.EndPage > 1)
    {
        <ul class="pagination">
            @if (Model.Pager.CurrentPage > 1)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                        new { SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
            }

            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
            {
                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                    @Html.ActionLink(page.ToString(), "Index",
                        new { Page = page, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
            {
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                        new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
                <li>
                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                        new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrdert, TypeOfAirPollutionIndicatorId = ViewBag.TypeOfAirPollutionIndicatorIdFilter, Name = ViewBag.NameFilter })
                </li>
            }
        </ul>
    }
}